html
{
	height: 100%
}

body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
}

#map_canvas
{
	height: 100%;
	z-index: 100;
}

#adminControls
{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 200;
}

#dump
{
	margin: 0 auto;
	width: 98%;
	height: 98%;
}

#searchBox
{
	position: absolute;
	z-index: 200;
	top: 20px;
	right: 20px;
	font-size: 16px;
}

#search
{
	padding: 4px;
}

.ui-autocomplete
{
	max-height: 200px;
	overflow-y: auto;
}
