html
{
	height: 100%
}

body
{
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	overflow: hidden;
	font-family: Verdana, sans-serif;
}

#map_canvas
{
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 15px;
	left: 0;
	right: 0;
}

#adminControls
{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 200;
	color: white;
	width: 140px;
}

#adminControls select
{
	width: 140px;
}

#adminControls input[type=button]
{
	width: 140px;
}

#systemPanel
{
	display: none;
}

#systemPanel .choices
{
	display: block;
	padding: 0.5em;
}

#userControls
{
color: white;
	position: absolute;
	bottom: 45px;
	right: 5px;
}

#dump
{
	margin: 0 auto;
	width: 98%;
	height: 98%;
}

#searchBox
{
	position: absolute;
	z-index: 200;
	top: 5px;
	right: 5px;
	vertical-align: top;
}

#search
{
	padding: 4px;
	font-size: 15px;
	width: 140px;
	height: 19px;
}

.ui-autocomplete
{
	max-height: 200px;
	overflow-y: auto;
}

#editBox
{
	display: none;
	position: absolute;
	z-index: 200;
	top: 60%;
	left: 45%;
}

#editName
{
	width: 100px;
	text-align: center;
	padding: 4px;
	font-size: 15px;
}

#aboutDialog
{
	display: none;
	position: relative;
}

#aboutDialog .changelog
{
	position: absolute;
	top: 40%;
	bottom: 6;
	right: 12;
	left: 12;
}

#aboutDialog .changelog div
{
	height: 170px;
	width: 576px;
	overflow: auto;
}

#message
{
	position: absolute;
	top: 20px;
	right: 200px;
	left: 200px;
	z-index: 200;
}

#message div
{
	margin: 0 auto;
	padding: 0pt 0.7em;
}

#message div span
{
	float: left;
	margin-right: 0.3em;
}

#footerAd
{
	position: absolute;
	background-color: black;
	left: 0;
	right: 0;
	bottom: 0;
	height: 15px;
}
